.add_story_modal_container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 68.2rem;
    height: 53.8rem;
    border-radius: 2rem;
    padding: 4.4rem 4.2rem 2.8rem 4.4rem;
    justify-content: space-between;
}

.close_button {
    color: red;
    cursor: pointer;
    height: 2.4rem;
    width: 2.4rem;
    position: absolute;
    top: 2rem;
    right: 1.9rem;
}

.form_container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.slide_list {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}

.slide_card {
    position: relative;
    width: 8.387rem;
    height: 6.809rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.953rem;
    box-shadow: 0 0.4rem 1.5rem 0 #0000001a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add_slide_card {
    cursor: pointer;
}

.delete_slide {
    position: absolute;
    height: 1.6rem;
    width: 1.6rem;
    top: 0;
    right: 0;
    color: #ff0000;
    background-color: #fff;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.slide_form {
    max-width: 45.2rem;
    margin-top: 3.32rem;
    gap: 1.9rem;
    display: flex;
    flex-direction: column;
}

.form_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.input_label {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.344rem;
}

.input {
    border: 0.1rem solid black;
    padding: 0 0.8rem;
    width: 24.5rem;
    height: 3.907rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.95rem;
    color: #474141;
}

.active_slide {
    border: 0.2rem solid #73abff;
}

.category_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.description_input {
    text-wrap: wrap;
    font-family: "DM Sans";
    padding-top: 1rem;
    height: 9.4rem;
    resize: none;
}

.chevron {
    position: absolute;
    right: 1.3rem;
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}

.category_items {
    position: absolute;
    width: 24.5rem;
    height: 16.7rem;
    top: 4.4rem;
    left: 0;
    border: 0.1rem solid #000000;
    z-index: 2;
    background-color: #fff;
}

.category_items {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.344rem;
    padding: 1.3rem 1.1rem;
}

.navigation_btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.55rem;
}

.button {
    width: 11.587rem;
}

.form_buttons {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post_button {
    margin-left: auto;
}
