.home_page {
    height: 100%;
    overflow-y: auto;
}

.homepage_content {
    padding: 2.8rem 4.4rem 0;
    height: 100%;
}

.filter_cards {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    overflow-x: scroll;
}

.categories {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}
